accelerate==0.29.3
auto_gptq==0.7.1
bitsandbytes==0.41.1
lark==1.1.2
numpy==1.22.4
optimum==1.13.2
pandas==1.4.3
thefuzz==0.22.1
scikit-learn==1.0.2
sentence_transformers==2.2.2
torch==2.1.0+cu121
tqdm==4.66.1
transformers==4.36.0